.marvel {
  background-color: #5cb85c;
}

.dc {
  background-color: #428bca;
}

.independent {
  background-color: #5bc0de;
}

.picture img {
  width: 300px;
}

.search {
  text-align: center;
}

.table {
  width: 400px;
}

.main {
  display: inline-flex;
}

span {
  color: blue;
}
